.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  z-index: 3;
}
